
.container {
    display: flex;
    flex-direction: column;
}

.input_label {
    display: block;
    width: fit-content;
    font-size: 1.3em;
}

.input_item {
    display: block;
    width: 100%;
    font-size: 1.8em;
    padding: 5px 10px;
    outline: none;
    border: none;
}